---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<div class="section-block section-block--recordings">
  <div class="section-block__header">
    <span class="section-block__icon">&#9654;</span>
    <h2 class="section-block__title">With Recordings</h2>
  </div>
  <div class="section-block__content">
    {% assign selected_talks = site.talks | where: "recording", true %}
    {% for post in selected_talks reversed %}
      {% include archive-single-talk.html %}
    {% endfor %}
  </div>
</div>

<div class="section-block section-block--others">
  <div class="section-block__header">
    <span class="section-block__icon">&#9632;</span>
    <h2 class="section-block__title">Others</h2>
  </div>
  <div class="section-block__content">
    {% for post in site.talks reversed %}
      {% unless post.recording %}
      {% include archive-single-talk.html %}
      {% endunless %}
    {% endfor %}
  </div>
</div>
