---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Selected talks with video recordings</h2>

{% assign selected_talks = site.talks | where_exp: "post", "post.content contains 'iframe' or post.content contains 'youtube.com' or post.content contains 'recording of the talk'" %}
{% for post in selected_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Other talks</h2>

{% for post in site.talks reversed %}
  {% unless post.content contains 'iframe' or post.content contains 'youtube.com' or post.content contains 'recording of the talk' %}
  {% include archive-single-talk.html %}
  {% endunless %}
{% endfor %}
