/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 2px solid #4A7C9E;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: #fff;
  border-bottom: 2px solid #4A7C9E;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid #d1d1d1;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

tr, td, th {
  vertical-align: middle;
}